@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .swiper {
    @apply width: 100% height: 100%;
  }

  .swiper-slide {
    @apply text-align: center font-size: 18px background: #fff display: flex justify-content: center align-items: center;
  }

  .swiper-slide img {
    @apply display: block
    width: 100%
    height: 100%
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    @apply background: palevioletred;
  }
}
